/* Container for the entire login page content */
.login-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Take up the full height of the viewport */
    background-color: #f0f2f5; /* Light, subtle background color */
    padding: 20px;
    background-image: url('../../assets//login.png'); /* Background image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

/* Style for the Login Box/Card */
.login-form-box {
    background-color: transparent;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
    width: 100%;
    max-width: 400px; /* Max width for a typical login form */
    box-sizing: border-box;
}

.login-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}
.app-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 80px; /* Adjust size as needed */
    height: auto;
}
/* Input groups for spacing */
.input-group {
    margin-bottom: 20px;
}
.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.app-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.app-subtitle {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 14px;
}
.input-label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

/* Style for input fields (username/password) */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; /* Include padding/border in the element's total width/height */
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Highlight on focus */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Style for the Log In button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Primary color for action */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-1px); /* Slight lift effect on hover */
}

button[type="submit"]:active {
    background-color: #004085;
}